<launch>

    <arg name="use_realtime" default="false" />

    <arg name="sample_time" default="0.003" />

    <arg name="driver_filter_cut_time_over_Ts" default="2.0" />

    <arg name="nodelet_name" default="iiwa_nodelet" />

    <arg name="bringup_joint_traj_server" default="true" />

    <arg name="bringup_cartesian_traj_server" default="true" />

    <arg name="bringup_fkine_server" default="false" />

    <arg name="bringup_clik_server" default="true" />

    <arg name="bringup_fri_driver" default="true" />

    <arg name="clik_error_gain" default="0.5" />

    <arg name="dls_joint_speed_saturation" default="3.0" />

    <arg name="second_obj_gain" default="0.0" />

    <arg name="joint_target_robot" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]" />

    <arg name="joint_weights" default="[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]" />

    <arg name="n_T_e_position" default="[0.0, 0.0, 0.0]" />
    <arg name="n_T_e_quaternion" default="[1.0, 0.0, 0.0, 0.0]" />

    <arg name="rate" value="$(eval 1.0/arg('sample_time'))" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)" args="manager" output="screen"/>

    <!-- Driver -->
    <node if="$(arg bringup_fri_driver)" ns="iiwa" pkg="nodelet" type="nodelet" name="fri_driver" args="load sun_iiwa_fri/FRIDriverNodelet /$(arg nodelet_name)" output="screen">
        <param name="sample_time" value="$(arg sample_time)" />
        <param name="use_realtime" value="$(arg use_realtime)" />
        <param name="filter_cut_time_over_Ts" value="$(arg driver_filter_cut_time_over_Ts)" />
    </node>

    <!-- Traj Server -->
    <node if="$(arg bringup_joint_traj_server)" ns="iiwa" pkg="nodelet" type="nodelet" name="joint_trajectory_server" args="load sun_robot_ros/JointTrajectoryServerNodelet /$(arg nodelet_name)" output="screen">
        <param name="traj_out_topic" value="/iiwa/command/joint_state" />
        <param name="action_name" value="joint_traj_action" />
        <param name="use_realtime" value="$(arg use_realtime)" />
    </node>

    <!-- Cart Traj -->
    <node if="$(arg bringup_cartesian_traj_server)" ns="iiwa" pkg="nodelet" type="nodelet" name="cartesian_traj_nodelet" args="load sun_robot_ros/CartesianTrajectoryServerNodelet /$(arg nodelet_name)" output="screen">
        <param name="publish_on_pose_twist" value="true" />

        <param name="pose_twist_out_topic" value="clik/desired_pose_twist" />

        <param name="pose_out_topic" value="clik/desired_pose" />
        <param name="twist_out_topic" value="clik/desired_twist" />

        <param name="action_name" value="cartesian_traj_action" />
        <param name="use_realtime" value="$(arg use_realtime)" />
    </node>

    <node if="$(arg bringup_fkine_server)" ns="iiwa" pkg="nodelet" type="nodelet" name="iiwa_clik" args="load sun_iiwa_nodes/IIWA_FkineNodelet /$(arg nodelet_name)" output="screen"></node>

    <!-- CLik -->
    <node if="$(arg bringup_clik_server)" ns="iiwa/clik" pkg="nodelet" type="nodelet" name="iiwa_clik" args="load sun_iiwa_fri_nodes/IIWA_ClikNodelet /$(arg nodelet_name)" output="screen">

        <param name="use_realtime" value="$(arg use_realtime)" />

        <param name="pub_dbg" value="false" />

        <param name="pub_cartesian_twist_control" value="true" />

        <param name="ros_base_frame_id" value="iiwa_link_0" />

        <rosparam param="ros_joint_names" subst_value="true">[
                                             "iiwa_joint_1",       "iiwa_joint_2",
                                             "iiwa_joint_3",       "iiwa_joint_4",
                                             "iiwa_joint_5",       "iiwa_joint_6",
                                             "iiwa_joint_7"
                                             ]</rosparam>

        <param name="error_gain" value="$(arg clik_error_gain)" />

        <param name="rate" value="$(arg rate)" />

        <param name="dls_joint_speed_saturation" value="$(arg dls_joint_speed_saturation)" />

        <param name="second_obj_gain" value="$(arg second_obj_gain)" />


        <rosparam param="joint_target_robot_second_obj" subst_value="true">$(arg joint_target_robot)</rosparam>


        <rosparam param="joint_weights_second_obj" subst_value="true">$(arg joint_weights)</rosparam>

        <!--
        <rosparam param="mask_cartesian" subst_value="true">$(arg mask_cartesian)</rosparam>
    -->

        <rosparam param="n_T_e_position" subst_value="true">$(arg n_T_e_position)</rosparam>
        <rosparam param="n_T_e_quaternion" subst_value="true">$(arg n_T_e_quaternion)</rosparam>

    </node>


</launch>